@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;800&display=swap');

:root{
--bg:#020617;
--card:#0f172a;
--accent:#8b5cf6;
--gradient:linear-gradient(135deg,#06b6d4,#8b5cf6,#ec4899);
--text:#f8fafc;
--muted:#94a3b8;
}

/* ===== BODY ===== */
body{
margin:0;
font-family:'Plus Jakarta Sans',sans-serif;
background:radial-gradient(circle at top left,#020617,#020617,#0f172a);
color:var(--text);
}

/* ===== NAVBAR ===== */
.navbar{
background:#020617;
padding:18px 10%;
display:flex;
justify-content:space-between;
align-items:center;
border-bottom:1px solid rgba(255,255,255,0.1);
}

.navbar h2{
font-weight:800;
background:var(--gradient);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.navbar a{
color:var(--muted);
text-decoration:none;
margin-left:20px;
}

.navbar a:hover{color:white}

/* ===== PAGE WRAPPER ===== */
.main{
max-width:1100px;
margin:auto;
padding:40px 20px;
}

/* ===== HOME CENTER PAGE ONLY ===== */
.center-page{
min-height:80vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}

/* ===== CARD ===== */
.card{
background:rgba(15,23,42,0.8);
border-radius:20px;
padding:25px;
border:1px solid rgba(255,255,255,0.08);
box-shadow:0 20px 50px rgba(0,0,0,0.5);
}

/* ===== FORM ===== */
input{
width:100%;
padding:15px;
background:#0f172a;
border:1px solid #334155;
border-radius:10px;
color:white;
margin-bottom:15px;
}

button{
width:100%;
padding:16px;
border:none;
border-radius:12px;
background:var(--gradient);
color:white;
font-weight:700;
cursor:pointer;
}

/* ===== RESULT BOX ===== */
#resultBox{
padding:20px;
margin-top:20px;
border-radius:12px;
}

.fraud-alert{background:rgba(239,68,68,0.1)}
.normal-alert{background:rgba(16,185,129,0.1)}

/* ===== DASHBOARD GRID ===== */
.dashboard-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:30px;
margin-top:30px;
}

.dashboard-grid .card{
height:420px;
display:flex;
flex-direction:column;
}

/* chart container */
.chart-box{
flex:1;
position:relative;
}

canvas{
position:absolute !important;
width:100% !important;
height:100% !important;
}

/* ===== ADMIN TABLE ===== */
table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
padding:12px;
border-bottom:1px solid rgba(255,255,255,0.1);
}

tr:hover{background:rgba(255,255,255,0.05)}

.status-fraud{color:#ef4444;font-weight:700}
.status-normal{color:#10b981;font-weight:700}

/* ===== MOBILE ===== */
@media(max-width:900px){
.dashboard-grid{grid-template-columns:1fr}
}

/* ===== STATS GRID ===== */
.stats-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-top:30px;
margin-bottom:40px;
}

.stat-card{
text-align:center;
padding:20px;
}

.stat-card h2{
margin-top:10px;
font-size:28px;
}

@media(max-width:900px){
.stats-grid{
grid-template-columns:1fr 1fr;
}
}