{% extends "base.html" %}
{% block content %}

<div class="main">

<h1>Transaction Logs</h1>

<form action="{{ url_for('delete_all') }}" method="POST">
<button type="submit" onclick="return confirm('Delete all logs?')">
Delete All Logs
</button>
</form>

<div class="card">

<table>
<tr>
<th>ID</th>
<th>Amount</th>
<th>Status</th>
<th>Time</th>
<th>Action</th>
</tr>

{% for row in data %}
<tr>
<td>{{row['id']}}</td>
<td>{{row['amount']}}</td>

<td class="{{ 'status-fraud' if row['result']=='Fraud' else 'status-normal' }}">
{{row['result']}}
</td>

<td>{{row['time']}}</td>

<td>
<form action="{{ url_for('delete_log', id=row['id']) }}" method="POST">
<button type="submit" onclick="return confirm('Delete record?')">
Delete
</button>
</form>
</td>

</tr>
{% endfor %}
</table>

</div>
</div>

{% endblock %}