<!DOCTYPE html>
<html>
<head>
<title>Fraud Guard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', v=5) }}">
</head>

<body>

<nav class="navbar">
<h2>Fraud Guard</h2>

<div>
<a href="/">Predict</a>

{% if session.get('logged_in') %}
<a href="/dashboard">Dashboard</a>
<a href="/admin">Admin Logs</a>
<a href="/logout" style="color:red;">Logout</a>
{% else %}
<a href="/login">Admin Login</a>
{% endif %}
</div>
</nav>

{% block content %}{% endblock %}

</body>
</html>