{% extends "base.html" %}
{% block content %}

<div class="main center-page">

<h1>Security Analytics</h1>

<div class="card" style="max-width:500px;width:100%;">

<form id="fraudForm">
<input type="number" step="any" id="amount" placeholder="Transaction Amount" required>
<input type="number" step="any" id="v1" placeholder="V1 Component" required>
<input type="number" step="any" id="v2" placeholder="V2 Component" required>
<input type="number" step="any" id="v3" placeholder="V3 Component" required>
<button type="submit">Analyze</button>
</form>

<div id="resultBox" style="display:none;">
<h2 id="resTitle"></h2>
<p id="resProb"></p>
</div>

</div>
</div>

<script>
document.getElementById("fraudForm").onsubmit=async(e)=>{
e.preventDefault()

const features=[amount.value,v1.value,v2.value,v3.value]

const res=await fetch("/predict",{
method:"POST",
headers:{"Content-Type":"application/json"},
body:JSON.stringify({features})
})

const data=await res.json()
resultBox.style.display="block"
resultBox.className=data.result==="Fraud"?"fraud-alert":"normal-alert"
resTitle.innerText=data.result==="Fraud"?"Fraud Detected":"Safe"
resProb.innerText="Probability: "+data.probability+"%"
}
</script>

{% endblock %}